{% extends 'base.html.twig' %}

{% block title %}Topic index{% endblock %}

{% block body %}
    <h1>Topic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>TopicId</th>
                <th>TopicTitle</th>
                <th>TopicDescription</th>
                <th>TopicNumSubjects</th>
                <th>TopicDate</th>
                <th>Accepttopic</th>
                <th>Hidetopic</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td>{{ topic.topicId }}</td>
                <td>{{ topic.topicTitle }}</td>
                <td>{{ topic.topicDescription }}</td>
                <td>{{ topic.topicNumSubjects }}</td>
                <td>{{ topic.topicDate ? topic.topicDate|date('Y-m-d') : '' }}</td>
                <td>{{ topic.accepttopic }}</td>
                <td>{{ topic.hidetopic }}</td>
                <td>
                    <a href="{{ path('app_topic_show', {'topicId': topic.topicId}) }}">show</a>
                    <a href="{{ path('app_topic_edit', {'topicId': topic.topicId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_topic_new') }}">Create new</a>
{% endblock %}
