{% extends 'backOffice/baseBack.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
    <h1>Hotel</h1>
<a href="{{ path('app_hotel_index') }}">
<span style="margin-left: 90%">Back to the list</span>
  <i class="fa fa-angle-right"></i>
  </a>
    <table class="table">
        <tbody>
            <tr>
                <th>HotelName</th>
                <td>{{ hotel.hotelName }}</td>
            </tr>
            <tr>
                <th>HotelStaff</th>
                <td>{{ hotel.hotelStaff }}</td>
            </tr>
            <tr>
                <th>HotelLocation</th>
                <td>{{ hotel.hotelLocation }}</td>
            </tr>
            <tr>
                <th>HotelPhone</th>
                <td>{{ hotel.hotelPhone }}</td>
            </tr>
            <tr>
                <th>HotelDescription</th>
                <td>{{ hotel.hotelDescription }}</td>
            </tr>
            <tr>
                <th>HotelImg</th>
                <td><img src="{{ asset('uploads/') ~hotel.hotelImg}}" alt="" style="border: 1px solid #ddd; max-width:250px;height:200px; display: block;" }></td>
            </tr>
        </tbody>
    </table>

    {{ include('hotel/_delete_form.html.twig') }}


{% endblock %}
