{% extends 'BackOffice/backfinal.html.twig' %}

{% block title %}Agency index{% endblock %}

{% block body %}
    <h1>Agency index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdAgency</th>
                <th>Nameagency</th>
                <th>Agencyphonenumber</th>
                <th>Agencylocation</th>
                <th>Agencydescription</th>
                <th>Numberofcars</th>
                <th>Numberofavailablecars</th>
                <th>Imageagency</th>
                <th>Nbrlike</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agency in agencies %}
            <tr>
                <td>{{ agency.idAgency }}</td>
                <td>{{ agency.nameagency }}</td>
                <td>{{ agency.agencyphonenumber }}</td>
                <td>{{ agency.agencylocation }}</td>
                <td>{{ agency.agencydescription }}</td>
                <td>{{ agency.numberofcars }}</td>
                <td>{{ agency.numberofavailablecars }}</td>
                <td>{{ agency.imageagency }}</td>
                <td>{{ agency.nbrlike }}</td>
                <td>
                    <a href="{{ path('app_agency_show', {'idAgency': agency.idAgency}) }}">show</a>
                    <a href="{{ path('app_agency_edit', {'idAgency': agency.idAgency}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_agency_new') }}">Create new</a>
{% endblock %}
