{% extends 'BackOffice/backfinal.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}

 <a href="{{ path('app_category_index') }}">
 <span style="margin-left: 90%">Back to the list</span>
  <i class="fa fa-angle-right"></i>
  </a>
    <h1>Edit Category</h1>
    {{form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

   <div class="form-group">
    <label for="name">Name</label>
      {{ form_widget(form.nameCategory , {'attr' : {'class' : 'form-control'  }}  ) }}
         
        {{ form_errors(form.nameCategory) }}
  </div>

  <div class="form-group">
    <label for="name">description</label>


      {{ form_widget(form.descriptionCategory , {'attr' : {'class' : 'form-control'  }}  ) }}
                                
        {{ form_errors(form.descriptionCategory) }}
  </div>
<button class="btn btn-primary mb-2">{{ button_label|default('Save') }}</button>

  {{ form_end(form) }} 

    
    {{ include('BackOffice/category/_delete_form.html.twig') }}
{% endblock %}
