{% extends 'Backoffice/baseback.html.twig'%}
{% block title %}Car{% endblock %}

{% block body %}

    <h1>Car</h1>
    <div class="popular_places_area">
        <div class="row">
            <div class="col-lg-3">
                <div class="filter_result_wrap">
                    <h3>Filter Result</h3>
                    <div class="filter_bordered">
                        <div class="filter_inner">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single_select">
                                        <select>
                                            <option data-display="Country">Country</option>
                                            <option value="1">Africa</option>
                                            <option value="2">canada</option>
                                            <option value="4">USA</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single_select">
                                        <select>
                                            <option data-display="Travel type">Travel type</option>
                                            <option value="1">advance</option>
                                            <option value="2">advance</option>
                                            <option value="4">premium</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="reset_btn">
                            <a href={{path('app_car_new',{'idagency':idAgency})}}>
                            <button class="boxed-btn4" type="submit" >Add Car</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" style="margin-left: 100px">
                <div class="row">
                    {% for car in cars %}
                        <div class="col-lg-5">
                            <div class="col-lg-10 col-md-15">
                                <div class="single_place">
                                    <div class="thumb">
                                        <img src="{{ asset('upload/images/'~car.carimage)}}" alt="" />
                                        <a href="#" class="prise">{{ car.carbrand }}</a>
                                    </div>
                                    <div class="place_info">
                                                <div class="form-row">
                                                    <div  style="background-color:{{ car.carcolor }};width:20px; height:20px;border-radius: 50%;margin-right: 5px"></div>
                                                    <h3>{{ car.namecar }}</h3>

                                                </div>
                                        <p>{{ car.carnumber}}</p>
                                        <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <a href="#">(20 Review)</a>
                                </span>
                                            <div class="days">
                                                <i class="fa fa-clock-o"></i>
                                                <a href="#">5 Days</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row" style="margin-right: auto;align-items: center">
                                        <div>
                                            <a href="{{ path('app_car_delete', {'idCar': car.idCar}) }}">
                                                <button class="boxed-btn4" style="margin-left:35px;margin-bottom: 15px; " type="submit" > Delete</button>
                                            </a>
                                        </div>
                                        <div>
                                            <a href={{path('app_car_edit',{'idCar': car.idCar,'idAgency':idAgency})}}>
                                            <button class="boxed-btn3" style="margin-right: auto;margin-bottom: 15px;margin-left: 15px;padding:  13px 39px"  type="submit" >Update</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
