{% extends 'Backoffice/baseback.html.twig' %}

{% block title %}New Car{% endblock %}
{% block body %}
    <h1>Create new Car</h1>
{{form_start(formC,{'attr': {'novalidate': 'novalidate'}} ) }}
<div class="form-group">
    <div class="form-row">
    <div class="col-md-4 mb-3">

        {{ form_widget(formC.namecar,{"attr":{'class' : 'form-control', "placeholder":" Car Name"}}) }}
        {{ form_errors(formC.namecar) }}
    </div>
    <div class="col-md-4 mb-3">

        {{ form_widget(formC.carnumber,{"attr":{'class' : 'form-control', "placeholder":" Car Number"}}) }}
        {{ form_errors(formC.carnumber) }}
    </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">

            {{ form_widget(formC.description,{"attr":{'class' : 'form-control', "placeholder":"  Description"}}) }}
            {{ form_errors(formC.description) }}
        </div>
        <div class="col-md-4 mb-3">

            {{ form_widget(formC.carcolor,{"attr":{'class' : 'form-control', "placeholder":"  Color"}}) }}
            {{ form_errors(formC.carcolor) }}

        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">

            {{ form_widget(formC.carbrand,{"attr":{'class' : 'form-control', "placeholder":"  Brand"}}) }}
            {{ form_errors(formC.carbrand) }}
        </div>
        <div class="vich-image">
            {{ form_widget(formC.imageFile,{'attr':{'class' : 'form-control'}}) }}
            {{ form_errors(formC.imageFile) }}
        </div>
        <div class="col-md-4 mb-3">
            <div class="form-row">
                <option data-display="Agency">Agency</option>
                {{ form_widget(formC.fkAgency,{"attr":{'class' : 'form-control'}}) }}
                {{ form_errors(formC.fkAgency) }}
            </div>
        </div>
    </div>
    <button class="btn btn-primary mb-2">{{ button_label|default('Create') }}</button>
</div>
{{ form_end(formC) }}

{% endblock %}
