{% extends 'FrontOffice/baseFrontFinal.html.twig' %}
 {% block body %}
     {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

     <section class="blog_area section-padding">
         <div class="container">
             <div class="row">
                 <div class="col-lg-6 mb-5 mb-lg-0">
                     <div class="blog_left_sidebar">
                         <div class="form-group">
                             <br></br>
                             <div style="text-align: center;"> <h4 class="widget_title">Update your Subject </h4></div>
                             <div class="input-group mb-3">

                                 {{ form_widget(form.subjectTitle, {'attr': {'class': 'form-control' , 'placeholder' : 'Subject Title'}}) }}
                                 {{ form_errors(form.subjectTitle) }}
                             </div>
                             <div class="input-group mb-3">
                                 {{ form_widget(form.subjectDescription, {'attr': {'class': 'form-control w-100' , 'placeholder' : 'Subject Description'}}) }}
                                 {{ form_errors(form.subjectDescription) }}
                             </div>
                             <div class="input-group mb-3">
                                 {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                                 {{ form_errors(form.imageFile) }}
                             </div>
                         </div>

                         <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn">{{ button_label|default('Save') }}</button>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     {{ form_end(form) }}
 {% endblock %}
