{% extends 'BackOffice/baseBackSubject.html.twig' %}

{% block title %}Subject index{% endblock %}

{% block Showa %}
    <h1>Subject index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>SubjectId</th>
                <th>SubjectTitle</th>
                <th>SubjectDescription</th>
                <th>SubjectNumComments</th>
                <th>SubjectDate</th>
                <th>SubjectImage</th>
                <th>Acceptsubject</th>
                <th>Hidesubject</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.subjectId }}</td>
                <td>{{ subject.subjectTitle }}</td>
                <td>{{ subject.subjectDescription }}</td>
                <td>{{ subject.subjectNumComments }}</td>
                <td>{{ subject.subjectDate ? subject.subjectDate|date('Y-m-d') : '' }}</td>
                <td>{{ subject.subjectImage }}</td>
                <td>{{ subject.acceptsubject }}</td>
                <td>{{ subject.hidesubject }}</td>
                <td>
                    <a href="{{ path('app_subject_show', {'subjectId': subject.subjectId}) }}">show</a>
                    <a href="{{ path('app_subject_edit', {'subjectId': subject.subjectId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_subject_new') }}">Create new</a>
{% endblock %}
{% block ShowNon %}
<section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                {% for subject in subjects %}
                    <div class="col-lg-4">
                        <div class="blog_left_sidebar">
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="{{ asset ('img/blog/single_blog_1.png') }}" alt="">

                                        <a href="#" class="blog_item_date">
                                            <h3>{{ subject.subjectDate ? subject.subjectDate|date('d') : '' }}</h3>
                                            <p>{{ subject.subjectDate ? subject.subjectDate|date('M') : '' }}</p>
                                        </a>
                                    </div>

                                    <div class="blog_details">
                                        <a class="d-inline-block" href="">
                                            <h2>{{ subject.subjectTitle }}</h2>
                                        </a>
                                        <p>{{ subject.subjectDescription }}</p>
                                        <ul class="blog-info-link">
                                            <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i>{{ subject.subjectNumComments }}</a></li>
                                        </ul>
                                    </div>
                                </article>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

</section>


{% endblock %}
