{% extends 'Frontoffice/basefront.html.twig'%}
{% block title %}Agency{% endblock %}
{% block body %}
<div class="popular_places_area" style="margin-left: 50px">
            <div class="row">
                <div class="col-lg-3">
                    <div class="filter_result_wrap">
                        <h3>Filter Result</h3>
                        <div class="filter_bordered">
                            <div class="filter_inner">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="single_select">
                                            <select>
                                                <option data-display="Country">Country</option>
                                                <option value="1">Africa</option>
                                                <option value="2">canada</option>
                                                <option value="4">USA</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8" style="margin-left: 150px">
        <div class="row">
            {% for agency in agencies %}
                    <div class="col-lg-5">
                    <div class="col-lg-10 col-md-15">
                        <div class="single_place">
                            <div class="thumb">
                                <img src="{{ asset('upload/images/'~agency.imageagency)}}" alt="" />
                                <a href="#" class="prise">{{ agency.numberofavailablecars }}</a>
                            </div>
                            <div class="place_info">
                                <a href="{{ path('app_car_front_index',{'idAgency':agency.idAgency}) }}"><h3>{{ agency.nameagency }}</h3></a>
                                <p>{{ agency.agencyphonenumber}}</p>
                                <p>{{agency.agencylocation}}</p>
                                <div class="rating_days d-flex justify-content-between" style="padding-left: 290px">
                                    <div class="form-row">
                                        <p>{{agency.nbrlike}}</p>
                                        <a href="{{path('app_agencylove_new',{'idAgency':agency.idAgency})}}">
                                        <img src="{{asset('/img/Heart/heartLike.png')}}" style="height: 30px">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    </div>
    {% endfor %}
        </div>
    </div>

        </div>
    <div class="navigation">
        {{ knp_pagination_render(agencies) }}
    </div>
    </div>

</div>



{% endblock %}
