{% if results is defined and results is iterable and results|length >= 1 %}
{% for result in results %}

            <article class="blog_item">
                <div class="blog_item_img">
                    <img class="card-img rounded-0" src="{{ vich_uploader_asset(topic) }}" alt="">
                    <a href="#" class="blog_item_date">
                        <h3>{{ result.topicDate ? result.topicDate|date('d') : '' }}</h3>
                        <p>{{ result.topicDate ? result.topicDate|date('M') : '' }}</p>
                    </a>
                </div>

                <div class="blog_details">
                    <a class="d-inline-block" href="{{ path('app_subject_index',{'IdTopic':result.topicId}) }}">
                        <h2>{{ result.topicTitle }}</h2>
                    </a>
                    <p>{{ result.topicDescription  }}.</p>
                    <ul class="blog-info-link">

                        <li><a href="#"><i class="fa fa-user"></i>{{ result.user.name  }}</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i>Number of Subjects : {{ result.topicNumSubjects}}</a></li>
                        <li>{{ include('FrontOffice/topic/_delete_form.html.twig') }}</li>

                    </ul>
                    <br></br>
                    <div class="bradcam_overlay"><a href="{{ path('app_topic_edit', {'topicId': result.topicId}) }}">
                        <i class="fa fa-edit">  Click here to Update your topic</i>
                    </a></div>
                    <div><a href="{{ path('app_topic_index_Transl', {'idTopic': result.topicId}) }}">Translate</a></div>
                </div>

            </article>
{% endfor %}
{% endif %}