{% extends 'FrontOffice/baseFrontFinal.html.twig' %}

{% block title %}Topic{% endblock %}

{#  {% block body %}
    <h1>Topic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>TopicId</th>
                <td>{{ topic.topicId }}</td>
            </tr>
            <tr>
                <th>TopicTitle</th>
                <td>{{ topic.topicTitle }}</td>
            </tr>
            <tr>
                <th>TopicDescription</th>
                <td>{{ topic.topicDescription }}</td>
            </tr>
            <tr>
                <th>TopicNumSubjects</th>
                <td>{{ topic.topicNumSubjects }}</td>
            </tr>
            <tr>
                <th>TopicDate</th>
                <td>{{ topic.topicDate ? topic.topicDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Accepttopic</th>
                <td>{{ topic.accepttopic }}</td>
            </tr>
            <tr>
                <th>Hidetopic</th>
                <td>{{ topic.hidetopic }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_topic_index') }}">back to list</a>

    <a href="{{ path('app_topic_edit', {'topicId': topic.topicId}) }}">edit</a>

    {{ include('topic/_delete_form.html.twig') }}
{% endblock %}#}
   {% block body %}

<section class="blog_area section-padding">
    <div class="container" >
        <div class="row" >
            <div class="col-lg-6 mb-5 mb-lg-0" id="topicShow" >
                <div  class="blog_left_sidebar"  >

                    {% for topic in topics %}
                        {% if topic.accepttopic==1%}
                    <article class="blog_   item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ vich_uploader_asset(topic) }}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>{{ topic.topicDate ? topic.topicDate|date('d') : '' }}</h3>
                                <p>{{ topic.topicDate ? topic.topicDate|date('M') : '' }}</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ path('app_subject_index',{'IdTopic':topic.topicId}) }}">
                                <h2>{{ topic.topicTitle }}</h2>
                            </a>
                            <p>{{ topic.topicDescription  }}.</p>
                            <ul class="blog-info-link">

                                <li><a href="#"><i class="fa fa-user"></i>{{ topic.user.name  }}</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i>Number of Subjects : {{ topic.topicNumSubjects}}</a></li>
                        {% if topic.user.id == app.user.id %}
                               <li>{{ include('FrontOffice/topic/_delete_form.html.twig') }}</li>
                        {% endif %}
                            </ul>
                            <br></br>
                        {% if topic.user.id == app.user.id %}
                            <div class="bradcam_overlay"><a href="{{ path('app_topic_edit', {'topicId': topic.topicId}) }}">
                                    <i class="fa fa-edit">  Click here to Update your topic</i>
                                </a></div>
                        {% endif %}
                            <div><a href="{{ path('app_topic_index_Transl', {'idTopic': topic.topicId}) }}">Translate</a></div>
                        </div>

                    </article>
                        {% endif %}
                    {% endfor %}



{#                    <nav class="blog-pagination justify-content-center d-flex">#}
{#                        <ul class="pagination">#}
{#                            <li class="page-item">#}
{#                                <a href="#" class="page-link" aria-label="Previous">#}
{#                                    <i class="ti-angle-left"></i>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="page-item">#}
{#                                <a href="#" class="page-link">1</a>#}
{#                            </li>#}
{#                            <li class="page-item active">#}
{#                                <a href="#" class="page-link">2</a>#}
{#                            </li>#}
{#                            <li class="page-item">#}
{#                                <a href="#" class="page-link" aria-label="Next">#}
{#                                    <i class="ti-angle-right"></i>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </nav>#}


                </div>
            </div>




            <div class="col-lg-6">
                {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget add_widget">
                        <form action="#">
                            <div class="form-group">

                                <h4 class="widget_title">{% trans %}Add a new Topic here : {% endtrans %}</h4>
                                <div class="input-group mb-3">

                                    {{ form_widget(form.topicTitle, {'attr': {'class': 'form-control' , 'placeholder' :  'Topic Title' | trans }}) }}
                                    {{ form_errors(form.topicTitle) }}

                                </div>
                                <div class="input-group mb-3">
                                    {{ form_widget(form.topicDescription, {'attr': {'class': 'form-control w-100' , 'placeholder' : 'Topic Description' | trans }}) }}
                                    {{ form_errors(form.topicDescription) }}
                                </div>
                                <div class="input-group mb-3">
                                    {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.imageFile) }}
                                </div>
                            </div>

                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn">{{ button_label|default('Add'| trans )  }}</button>
                            {{ form_rest(form) }}
                        </form>
                    </aside>

                    <aside class="single_sidebar_widget search_widget">
                        <form >
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword' id="searchfield" >
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                        </form>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Resaurant food</p>
                                    <p>(37)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Travel news</p>
                                    <p>(10)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Modern technology</p>
                                    <p>(03)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Product</p>
                                    <p>(11)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Inspiration</p>
                                    <p>21</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Health Care (21)</p>
                                    <p>09</p>
                                </a>
                            </li>
                        </ul>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div class="media post_item">
                            <img src="img/post/post_1.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>From life was you fish...</h3>
                                </a>
                                <p>January 12, 2019</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/post/post_2.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>The Amazing Hubble</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/post/post_3.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Astronomy Or Astrology</h3>
                                </a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/post/post_4.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Asteroids telescope</h3>
                                </a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li>
                                <a href="#">project</a>
                            </li>
                            <li>
                                <a href="#">love</a>
                            </li>
                            <li>
                                <a href="#">technology</a>
                            </li>
                            <li>
                                <a href="#">travel</a>
                            </li>
                            <li>
                                <a href="#">restaurant</a>
                            </li>
                            <li>
                                <a href="#">life style</a>
                            </li>
                            <li>
                                <a href="#">design</a>
                            </li>
                            <li>
                                <a href="#">illustration</a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>



</section>
<!--================Blog Area =================-->
{#       <script>#}
{#           const TopicHolder = document.getElementById('topicShow');#}
{#           const searchfield = document.getElementById('searchfield');#}

{#           console.log(searchfield.value);#}

{#           function getTopic(e){#}
{#               const title = searchfield.value;#}
{#               const url = title ? "/topic/search/ " + title : "/topic/topics/allTopics";#}
{#               fetch(url, {#}
{#                   method: 'GET',#}
{#               }).then(res => res.json()).then((data) =>{#}
{#                   TopicHolder.innerHTML = "";#}
{#                   data.forEach(topic => {#}
{#                       TopicHolder.innerHTML += `#}
{#                <div  class="blog_left_sidebar"  >#}
{#                        <article class="blog_item">#}
{#                           <div class="blog_item_img">#}
{#                               <img class="card-img rounded-0" src="/images/topics/${topic.topicImage}" alt="">#}
{#                                   <a href="#" class="blog_item_date">#}
{#                                       <h3>${ topic.topicDate ? topic.topicDate|date('d') : '' }</h3>#}
{#                                       <p>${ topic.topicDate ? topic.topicDate|date('M') : '' }</p>#}
{#                                   </a>#}
{#                           </div>#}

{#                           <div class="blog_details">#}
{#                               <a class="d-inline-block" href="/subject/ShowBack/${topic.topicId}">#}
{#                                   <h2>${topic.topicTitle}</h2>#}
{#                               </a>#}
{#                               <p>${topic.topicDescription}.</p>#}
{#                               <ul class="blog-info-link">#}

{#                                   <li><a href="#"><i class="fa fa-user"></i>${topic.user.name }</a></li>#}
{#                                   <li><a href="#"><i class="fa fa-comments"></i>Number of Subjects : ${topic.topicNumSubjects}</a></li>#}

{#                               </ul>#}
{#                               <br></br>#}
{#                               <div class="bradcam_overlay"><a href="/topic/${topic.topicId}/edit">#}
{#                                   <i class="fa fa-edit">  Click here to Update your topic</i>#}
{#                               </a></div>#}
{#                           </div>#}

{#                       </article>#}

{#               </div>`#}


{#                   })#}

{#               }).catch(err => console.log(err))#}
{#           }#}
{#           getTopic(null)#}
{#           searchfield.addEventListener('change', getTopic)#}


{#       </script>#}


   {% endblock %}
{% block ahbat %}
    <br>   </br>
    <br>   </br>
{% endblock %}